{% extends "base.html" %}

{% block title %}Page de connexion{% endblock %}

{% block content %}

<div id="principale" class="container border border-primary">
	<h1 class="text-center">Page de connexion</h1>
	<hr class="col-xs-12">
	<div id="connexion" class="row col-md-8 col-md-offset-2 border border-primary" >
		<form method="POST">
			{#Protection crsf_token#}
			{{form.crsf_token}}

			{#Formulaire de login de l'utilisateur avec gestion d'erreurs#}
			<div class="col-sm-12 text-center lead">
				<label>E-mail : </label>
				{{form.EmailUser()}}

				{% if form.EmailUser.errors %}
				<div class="alert alert-danger h6" role="alert">
					{% for error in form.EmailUser.errors %}
					{{ error }}
					{% endfor %}
				</div>
				{% endif %}
			</div>

			{#Formulaire de mot de passe de l'utilisateur avec gestion d'erreurs#}
			<div class="col-sm-12 text-center lead">
				<label>Mot de passe : </label>
				{{form.PasswordUser()}}

				{% if form.PasswordUser.errors %}
				<div class="alert alert-danger h6" role="alert">
					{% for error in form.PasswordUser.errors %}
					{{ error }}
					{% endfor %}
				</div>
				{% endif %}
			</div>

			{#Bouton pour ce connecter#}
			<div class="col-sm-12 text-center lead">
				<input type="submit" class="btn btn-success btn-lg" value="Se connecter" />
			</div>

			{#Lien vers la page pour créer un compte#}
			<div class="col-sm-6 text-center lead">
				<a href="/AccountCreation/">Je créer un compte</a>
			</div>

			{#Lien vers la page pour payer directement#}
			<div class="col-sm-6 text-center lead">
				<a href="/identityBankCard/">Je veux payer directement</a>
			</div>

		</form>
	</div>
</div>

{% endblock %}
