{% extends "base.html" %}

{% block title %}Page de création de compte{% endblock %}

{% block content %}

<div id="principale" class="container border border-primary">
	<h1 class="text-center">Creation d'un compte</h1>
	<hr class="col-xs-12">
	<div id="creationCompte" class="row col-md-8 col-md-offset-2 border border-primary" >

		<form method="POST">
			{#Protection crsf_token#}
			{{formUser.crsf_token}}
			{{formInfoCard.crsf_token}}
			
			{#Formulaire pour l'email de l'utilisateur avec gestion d'erreurs#}
			<div class="col-sm-12 text-center lead">
				<label>Email : </label>
				{{formUser.EmailUser()}}

				{% if formUser.EmailUser.errors %}
				<div class="alert alert-danger h6" role="alert">
					{% for error in formUser.EmailUser.errors %}
					{{ error }}
					{% endfor %}
				</div>
				{% endif %}
			</div>

			{#Formulaire pour le mot de passe de l'utilisateur avec gestion d'erreurs#}
			<div class="col-sm-12 text-center lead">
				<label>Mot de passe : </label>
				{{formUser.PasswordUser()}}

				{% if formUser.PasswordUser.errors %}
				<div class="alert alert-danger h6" role="alert">
					{% for error in formUser.PasswordUser.errors %}
					{{ error }}
					{% endfor %}
				</div>
				{% endif %}
			</div>

			{#Formulaire pour le numéro de carte de l'utilisateur avec gestion d'erreurs#}
			<div class="col-sm-12 text-center lead">
				<label>Numéro de carte : </label>
				{{formInfoCard.CardNumber(maxlength="16",  size="17")}}

				{% if formInfoCard.CardNumber.errors %}
				<div class="alert alert-danger h6" role="alert">
					{% for error in formInfoCard.CardNumber.errors %}
					{{ error }}
					{% endfor %}
				</div>
				{% endif %}
			</div>

			{#Formulaire pour le cryptogramme de la carte de l'utilisateur avec gestion d'erreurs#}
			<div class="col-sm-12 text-center lead">
				<label>Cryptogramme de la carte : </label>
				{{formInfoCard.CardCrypto(maxlength="3", size="3")}}

				{% if formInfoCard.CardCrypto.errors %}
				<div class="alert alert-danger h6" role="alert">
					{% for error in formInfoCard.CardCrypto.errors %}
					{{ error }}
					{% endfor %}
				</div>
				{% endif %}
			</div>

			{#Formulaire pour la date de validité de la carte de l'utilisateur#}
			<div class="col-sm-12 text-center lead">
				<label>Date de validité de la carte : </label>
				<select name="ChoiceDate">
					{% for validityDate in ListDate %}
						{% if validityDate == ChoiceDate %}
							<option value={{validityDate}} selected>{{validityDate}}</option>
						{% else %}
							<option value={{validityDate}}>{{validityDate}}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>

			{#Bouton permettant de valider le formulaire#}
			<div class="col-sm-12 text-center lead">
				<input type="submit" class="btn btn-success btn-lg" value="Creation du Compte" />
			</div>

		</form>
	</div>
</div>

{% endblock %}
