{% extends "base.html" %}

{% block title %}Entrez vos informations bancaires{% endblock %}

{% block content %}

<div id="principale" class="container border border-primary">
	<h1 class="text-center">Paiement de votre commande</h1>
	<hr class="col-xs-12">
	<div id="paiement" class="row col-md-8 col-md-offset-2 border border-primary" >

		<form method="POST">
			{#Protection crsf_token#}
			{{form.crsf_token}}

			{#Formulaire pour le numéro de carte de l'utilisateur avec gestion d'erreurs#}
			<div class="col-sm-6 text-center lead">
				<label>Numéro de carte : </label>
				{{form.CardNumber(maxlength="16",  size="17")}}

				{% if form.CardNumber.errors %}
				<div class="alert alert-danger h6" role="alert">
					{% for error in form.CardNumber.errors %}
					{{ error }}
					{% endfor %}
				</div>
				{% endif %}
			</div>

			{#Formulaire pour le cryptogramme de la carte de l'utilisateur avec gestion d'erreurs#}
			<div class="col-sm-6 text-center lead">
				<label>Cryptogramme de la carte : </label>
				{{form.CardCrypto(maxlength="3", size="3")}}

				{% if form.CardCrypto.errors %}
				<div class="alert alert-danger h6" role="alert">
					{% for error in form.CardCrypto.errors %}
					{{ error }}
					{% endfor %}
				</div>
				{% endif %}
			</div>

			{#Formulaire pour la date de validité de la carte de l'utilisateur#}
			<div class="col-sm-6 text-center lead">
				<label>Date de validité de la carte : </label>
				<select name="ChoiceDate">
					{% for validityDate in ListDate %}
						{% if validityDate == ChoiceDate %}
							<option value={{validityDate}} selected>{{validityDate}}</option>
						{% else %}
							<option value={{validityDate}}>{{validityDate}}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>

			{#Prix à payer par l'utilisateur#}
			<div class="col-sm-12 text-center lead">
				<label>Prix à payer : </label>
				{{montant}}
			</div>

			{#Bouton permettant de valider le formulaire#}
			<div class="col-sm-12 text-center lead">
				<input type="submit" class="btn btn-success btn-lg" value="Transfert paiement" />
			</div>

		</form>
	</div>
</div>

{% endblock %}
