{% extends "base.html" %}

{% block title %}Paiement accepté{% endblock %}

{% block content %}

<div id="principale" class="container border border-primary">
	<h1 class="text-center">Paiement effectué</h1>
	<hr class="col-xs-12">
	<div id="paiement" class="row col-md-8 col-md-offset-2 border border-primary" >
		<div class="col-sm-12 text-center lead">
			<button class="btn btn-success btn-lg" action="/resumeCommande"> Retour site marchand</button>
			<button class="btn btn-danger"> Quitter</button>
		</div>

	</div>
</div>	

{% endblock %}