{% extends "base.html" %}

{% block title %}Validez votre commande{% endblock %}

{% block content %}

<div id="principale" class="container border border-primary">
	<h1 class="text-center">Résumé de votre commande</h1>
	<hr class="col-xs-12">
	<div id="commande" class="row col-md-8 col-md-offset-2 border border-primary" >
		
		{#Pour chaque produit de la commande on l'affiche sur la page#}
		{% for produit in commande.paiement.details %}

		<div class="col-sm-8 text-center lead">{{produit}}</div>

		<div class="col-sm-4 text-center lead">{{commande.paiement.details[produit] ~ ' ' ~ commande.paiement.devise}}</div>

		<br/>
		{% endfor %}

		<hr class="col-xs-12">

		{#On montre le total due#}
		<div class="col-sm-8 text-center lead">Total due : </div>

		<div class="col-sm-4 text-center lead"><p>{{commande.paiement.total_due ~ ' ' ~ commande.paiement.devise}}</p></div>

		<form action="/Authenticate/">
			<div class="col-sm-12 text-right">
				{#Bouton permettant de valider ou annuler le formulaire#}
				<button class="btn btn-success btn-lg"> Valider</button>
				<button class="btn btn-danger"> Annuler</button>
			</div>
		</form>

	</div>
</div>

{% endblock %}